@model VanLife.Models.ViewModel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="d-flex  justify-content-center align-items-center" style="margin-top: 80px;">
    <div class="container text-center">
        <img src="~/images/error.svg" alt="Error illustration" class="img-fluid" style="max-width: 150px;"/>

        @if (Model.StatusCode != null)
        {
            <h1 class="display-4 text-danger mt-4">@Model.StatusCode</h1>
        }
        else
        {
            <h1 class="display-4 text-danger mt-4">Oops!</h1>
        }

        @if (Model.StatusCode == 404)
        {
            <p class="lead text-danger">Page not found</p>
        }
        else if (Model.StatusCode == 500)
        {
            <p class="lead text-danger">Internal server error </p>
        }
        else
        {
            <p class="lead">Sorry, something went wrong.</p>
        }
        
        <p class="text-muted">Please click the button below to go back to the homepage.</p>
        <p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
        </p>

        @if (Model.ShowRequestId)
        {
            <hr/>
            <div class="alert alert-warning" role="alert">
                <strong>Request ID:</strong> <code>@Model.RequestId</code><br/>
                @if (Model.ShowExceptionMessage)
                {
                    <strong>Error Message:</strong>
                    <code>@Model.ExceptionMessage</code>
                }
            </div>
        }

    </div>
</div>