@model VanLife.Models.ViewModel.Account.PasswordViewModel

@{
    ViewData["Title"] = "Update Password";
}
<h2>@ViewData["Title"]</h2>

@if (ViewData["UpdateSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewData["UpdateSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="ChangePassword" method="post">
    <antiforgery/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label">Current Password</label>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        <input asp-for="CurrentPassword" class="form-control mb-3" type="password" required/>
       

        <label asp-for="NewPassword" class="control-label">New Password</label>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <input asp-for="NewPassword" class="form-control mb-3" type="password" required/>
        

        <label asp-for="ConfirmPassword" class="control-label">Confirm New Password</label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <input asp-for="ConfirmPassword" class="form-control mb-3" type="password" required/>
       

        <label asp-for="VerificationCode" class="control-label">Verification Code</label>
        <span asp-validation-for="VerificationCode" class="text-danger"></span>
        <div class="input-group col-md-4">
            <input asp-for="VerificationCode" class="form-control" placeholder="Click Send"
                   style="max-width: 120px" type="text" required/>
            <button type="button" class="btn btn-info" onclick="sendCode()">Send</button>
        </div>
        <small class="form-text text-muted"> Send a verification code to your email. </small>
        
    </div>

    <button type="submit" class="btn btn-warning" style="margin-top: 10px"
            onclick="return confirm('Are you sure to change your password?');">Submit
    </button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary ms-2" style="margin-top: 10px;">Cancel</a>
</form>


<script>
    function sendCode() {
        fetch('/Account/SendCode', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
            .then(res => res.text())
            .then(msg => alert(msg));
    }
</script>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}